<!doctype html>
<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<title>CLOUDPOTS-MANAGER</title>
	<body>
		<div class="container">
			<div class="header">
				<h3 class="text-muted">POT Container</h3>
			</div>
			<hr/>
			<div>
				<p>Welcome to POT-Manager</p>
				<p>Check out CloudPOTS <a href="https://github.com/aabdulwahed/cloudpots" target="_blank">GitHub's CLOUDPOTS</a>.</p>
			</div>
		</div>
	<div id="footer">
      		<div class="container">
        		<p class="muted credit">Check out our website for more information <a href="http://cloudpots.com" target="_blank">www.cloudpots.com</a>.</p>
     		 </div>
    	</div>
	
	</body>
	
</html>
